<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
			<key>PROJECT_UUID</key>
			<string>2ba651e8-528b-493b-a570-ab62fe2489d6</string>
			<key>PROJECT_CLIENT_KEY</key>
			<string>c1o3pOIT9seszfmH9DSmMb7td8TDi4UNJWZbMmw1</string>
			<key>PROJECT_APP_UUID</key>
			<string>d28e3658-4a8e-4d4a-aba1-1f7fff6d9038</string>
		</dict>
</plist>
