{
  "environment": "dev",
  "chainNamespace": "eip155",
  "chainId": "30732",
  "starsArenaAddress": "*",
  "proxyAddress": "*",
  "cheerBooAddress": "*",
  "minimumCheerBooAmount": "0.01",
  "cheerBooTimeMultiplication": "300",
  "projectId": "*",
  "cometChatAppId": "*",
  "cometChatRegion": "*",
  "cometChatAuthKey": "*",
  "cometChatRestApiKey": "*",
  "particleProjectId": "*",
  "particleClientKey": "*",
  "particleAppId": "*",
  "jitsiServerUrl": "*",
  "appStoreUrl": "https://play.google.com/store/apps/details?id=com.web3podium",
  "baseDeepLinkUrl": "https://web3podium.page.link"
}
