{
  "environment": "*",
  "chainId": "*",
  "cheerBooAddress": "*",
  "minimumCheerBooAmount": "0.01",
  "cheerBooTimeMultiplication": "30",
  "projectId": "*",
  "cometChatAppId": "*",
  "cometChatRegion": "*",
  "cometChatAuthKey": "*",
  "cometChatRestApiKey": "*",
  "particleProjectId": "*",
  "particleClientKey": "*",
  "particleAppId": "*",
  "jitsiServerUrl": "*"
}
